*{
	margin: 0;
	padding: 0;
}
.masage_good{
	color:#2c4e00;
}
.inputs_{
	width:650px;
	height:10px;
	margin-left:30px;
	border-bottom: solid 3px #892be2b4;
	border-top: solid 3px #892be2b4;
	border-left: solid 3px #892be2b4;
	border-right: solid 3px #892be2b4;
	display: flex;
}

.input_{
	width:40%;
	height:30vh;
	margin:0 auto;
	border-bottom: solid 1% #892be2b4;
	border-top: solid 1% #892be2b4;
	border-left: solid 1% #892be2b4;
	border-right: solid 1% #892be2b4;
	display: flex;
}










.input_2{
	width:40%;
	height:8%;
	margin:0 auto;
	border-bottom: solid 1% #892be2b4;
	border-top: solid 1% #892be2b4;
	border-left: solid 1% #892be2b4;
	border-right: solid 1% #892be2b4; 
	display: flex;
}











.form_img{
	display: flex;
	justify-content: center;
 }
.other_post{
	margin-top:20px;
	margin-bottom:20px;
}
.button__[type="submit"] {
color: white;
background-color: #65b40bb4;
display: flex;
margin-top: 0px;
margin-left: 49%;
width: 60px;
height: 40px;
justify-content: center;
align-items: center;
font-weight: bold;
border-radius: 5px;
transition: 1s;
border-bottom: solid 3px #892be2b4;
border-top: solid 3px #892be2b4;
border-left: solid 3px #892be2b4;
border-right: solid 3px #892be2b4;
}
a{
	text-decoration: none;
}
header{
	background:#FF69B4;
	height: 15vh;
	text-align: center;
	background-image:url("../kartinki/Wiki-background.jpg"); 
}
html{
	background:url("../kartinki/images.jpg") ;
	background-size: cover;
	
}
.tema{
	text-shadow: 3px 3px 3px black, 0 0 1em pink;
	color:#8A2BE2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.symbol_sun{
	transition: 1s;
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: #FFFF00;
}

.symbol_sun:hover{
	margin: 5vh;
	justify-content: center;
}
.symbol_t{
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: 	#FF1493;
	transition: 1s;
}
.symbol_t:hover{

	margin: 5vh;
}
.symbol_o{
	transition: 1s;
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: #0000FF;
}
.symbol_o:hover{
	margin: 10px;
}
.symbol_2{
	transition: 1s;
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: #FF0000;
}

.symbol_2:hover{
	margin: 5vh;
}
.symbol_0{
	transition: 1s;
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: #000;
}
.symbol_0:hover{
	margin: 5vh;
}
.symbol_cloud{
	transition: 1s;
	text-shadow: 1vh 1vh 2vh black, 0 0 1em red;
	color: white;
}
.symbol_cloud:hover{
	margin: 5vh;
}
.link1{
	margin:4vh; 
	color:#654aff;
	transition: 1s;
	font-weight: bold;
}
.link1:hover{
	transition: 1s;
	transform: translate(3vh,3vh);
}
main{
	display: flex;
	flex-wrap: wrap;
}
main>div{
	display: flex;
	justify-content:center; 
	flex-direction:column; 
	align-items: center;
}
 nav{
 	background-color:#C71585;
 	position: fixed;
 	bottom: 0; 
 	width: 100%;
 	height: 5vh;
 	display: grid;
 	grid-template-columns: 10vh 10vh 10vh 10vh;
 }
 .title{
	 margin-bottom: 20px;
	 width:650px;
	 background-color: #b1f6ffec;
	 color: #000000;
	 font-weight: 700;
	 justify-content: center;
	 margin: 10px auto ;
 }
 .title > p{
	color:#FF69B4;
 }
 .title .name{
	 color:green;
 }
 .name3{
	 color:#C71585;
	 background-color: #8b1554;

 }
 .name3:hover{
	color:blueviolet;
	background-color: #FFFF00;
 }
 .title{
	background-color: #89e5f1;
	color:#9d75ec;
	width: 675px;
	height:250px;
	display: flex;
	font-weight: bold;
	border-bottom: solid 5px #979797;
	border-top: solid 5px #979797;
	border-left: solid 5px #979797;
	border-right: solid 5px #979797;
	border-radius: 5px;
	transition: 1s;
	text-shadow: 0vh 0vh 3vh rgb(255, 242, 205), 0 0 1em rgb(206, 209, 255);
}
.title:hover{
	color:#574380;
	background-color: #5da9b3;
	transition: 1s;
}
header>.Loginnn_{
	color:white;
	background-color: #892be2b4;
	width: 65px;
	height: 35px;
	display: flex;
	border-radius: 50px;
	position:absolute;
	right: 25px;
	top:10px;
	justify-content: center;
	align-items: center;
}
.register{
	color:white;
	background-color: #2583ffb4;
	width: 65px;
	height: 35px;
	display: flex;
	border-radius: 50px;
	position:absolute;
	right: 25px;
	top: 47px;
	justify-content: center;
	align-items: center;
}
.login1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color:#57002e;
	margin-top: 10px;
}
.login3{
	display: flex;
	position: absolute;
	left:250px;
	font-weight: bold;
	color:#57002e;
	margin-top: 10px;
}
.login4{
	display: flex;
	position: absolute;
	right:250px;
	font-weight: bold;
	color:#57002e;
	margin-top: 10px;
}
.login{
	display: flex; 
	margin-left: auto;
    margin-right: auto;
	width: 275px;
	height: 30px;
	margin-top: 10px;
}
.emeils{
	display: flex;
	margin-left: auto;
    margin-right: auto;
	width: 275px;
	height: 30px;
	margin-top: 10px;
}
.olds{
	display: flex;
	position: absolute;
	left:250px;
	width: 275px;
	height: 30px;
	margin-top: 45px;	
}
.names{
	display: flex;
	position: absolute;
	right:250px;
	width: 275px;
	height: 30px;
	margin-top: 45px;
}
.Logining{
	width: 900px;
	height:500px;
	border-bottom: solid 5px #979797;
	border-top: solid 5px #979797;
	border-left: solid 5px #979797;
	border-right: solid 5px #979797;
	border-radius: 5px;
	margin:45px auto;
	background-color: rgb(255, 218, 218);
}
 
.Logining>input[type="submit"]{
	color:white;
	background-color: #65b40bb4;
	display: flex;
	margin-top: 65px;
	margin-left: 42%;

	height:40px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 5px;
	transition: 1s;
}
.Logining>input[type="submit"]:hover{
	background-color: #1e5200b4;
	transition: 1s;
}
.masage_good{
	color:#2c4e00;
}
.masage_bad{
	color:#ff0000;
}
.posts{
	margin:20px auto;
	
    width: 50vw;
    min-height: 250px;
    color:#310070af;
    background-color: rgba(255, 105, 180,0.4) ;
    border-bottom: solid 5px #892be2b4;
    border-top: solid 5px #892be2b4;
    border-left: solid 5px #892be2b4;
    border-right: solid 5px #892be2b4;
    text-shadow: 1vh 1vh 2vh black, 0 0 1em black;
	transition: 1s;
}
.posts:hover{
	background-color: rgba(238, 2, 120, 0.4) ;
	transition: 0.5s;

}

@media screen and (max-width: 1920px) {
	.input_{
		width: 70vw;
	}
	.posts{
		width: 50vw;
		
	}
}
@media screen and (max-width: 1366px) {
	.posts{
		width: 60vw;
		
	}
}
@media screen and (max-width: 1024px) {
	.posts{
		width: 70vw;
		
	}
}
@media screen and (max-width: 760px) {
	.posts{
		width: 80vw;
		
	}
}
@media screen and (max-width: 480px) {
	.posts{
		width: 90vw;
		
	}
}

.like{
	margin-left: 50%;
	display: flex;
	bottom: 20%;
	
}